<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--
        顺序如下:
        properties?, settings?,
        typeAliases?, typeHandlers?,
        objectFactory?,objectWrapperFactory?,
        plugins?,
        environments?, databaseIdProvider?, mappers?
    -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!--自测增加mybatis日志-->
        <!--<setting name="logImpl" value="LOG4J"/>-->
    </settings>
    <typeAliases>
        <package name="com.netease.haitao.finance.expense.dao.meta.entity"/>
        <package name="com.netease.haitao.finance.expense.dao.meta.query"/>
    </typeAliases>

    <!-- pagehelper配置详见https://github.com/pagehelper/Mybatis-PageHelper/blob/master/wikis/zh/HowToUse.md -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="supportMethodsArguments" value="true"/>
            <property name="params" value="pageNum=pageNo"/>
        </plugin>
    </plugins>
</configuration>
